@import url(./fonts.css);

* {
    box-sizing: border-box;
}

*::selection {
    background-color: #e4d08e55;
}

body,h1,h2,h3,h4,p,a,ul,li,input {
    padding: 0;
    margin: 0;
}

body {
    --bg-color: #F5F3ED;
    --bg-color-light-hover: #fcf9f2;
    --bg-color-hover: #f3ecd6;
    --highlight-color: #514a33;
    --button-color: ;
    --secondary-button-color: #405139;
    --outline-color: #f3e9d1;
    background-color: var(--bg-color);
}

/*--- HEADER ---*/

.header-and-main-hero-wrapper {
    background-image: linear-gradient(#fff5, #fff5), url(../images/imagen\ fondo.png);
    height: 60dvh;
    background-position: 20%;
    background-size: cover;
    box-shadow: 0 0 16px #000;
}

.header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#F5F3ED,#F5F3ED00);
    padding: 30px 20px 90px;
    position: relative;
}

.header__logo {
    width: clamp(100px, 30%, 200px);
    cursor: pointer;
    position: relative;
    z-index: 10;
    object-fit: contain;
}

.header__logo-link {
    display: flex;
    justify-content: center;
}

.header__logo:hover {
    filter: drop-shadow(0 0 .25px #000 );
}

.menu-button, .search-button {
    font-weight: 200;
    text-decoration: none;
    color: #000;
    transition: color .3s ease;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.search-button {
    z-index: 15;
}

.menu-button:hover {
    color: var(--highlight-color);
    transition: color .3s ease;
}

.search-button:hover {
    color: var(--highlight-color);
    transition: color .3s ease;
}

.hero__title-container {
    display: flex;
    text-align: center; 
    display: none;
    position: absolute;
    top: 40%;
    justify-content: center;
    width: 100vw;
}

.hero__title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffffdd;
    font-size: clamp(1rem,12vw,2rem);
    text-shadow: 0 0 15px #3a4937;
    mix-blend-mode: overlay;
}

.hero-buttons {
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: end;
    gap: 20px;
    margin-bottom: 20px;
}

.hero-button {
    padding: 18px 0;
    width: 300px;
    text-transform: uppercase;
    background-color: var(--bg-color);
    border: none;
    font-family: 'mukta_mahee';
    font-weight: 300;
    transition: background-color .3s ease;
    color: black;
}

.--secondary-button {
    background-color: var(--secondary-button-color);
    color: var(--bg-color-hover);
    transition: .5s;
}

.--secondary-button:hover {
    color: black;
    transition: .5s;
    border: .5px solid #b2b2b2;
    box-shadow: 0 2px 5px #425f49;
}

.hero-button:hover {
    background-color: var(--bg-color-hover);
}

.--lower-opacity {
    opacity: .7;
}

/*--- OFF-SCREEN-MENU ---*/

.off-screen-menu {
    position: fixed;
    height: calc();
    background-color: var(--bg-color);
    left: -100%;
    top: 0;
    font-size: 2rem;
    z-index: 5;
    padding-top: clamp(12dvh,12%,18dvh);
    transition: .3s ease;
    width: clamp(100%,200px,30%);
    display: flex;
    justify-content: center;
    container-name: off-search-menu;
    container-type: inline-size;
}

.off-screen-menu.active {
    left: 0;
    transition: .3s ease;
}

body:has(.off-screen-menu.active) {
    overflow-y: hidden;
}

.off-screen-menu.inactive {
    left: -100%;
}

.off-screen-menu__list {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    font-size: 1.5rem;
    font-family: 'mukta mahee';
    font-weight: 100;
    list-style: none;
    height: 100dvh;
    width: clamp(600px,90%,1000px);
}

.prueba {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: .25px solid #222;
    cursor: pointer;
    padding-left: 5px;
}

.prueba:hover {
    color: #98864b;
    background-color:  var(--bg-color-light-hover);
}

.list-img {
    width: clamp(100px, 30%, 400px);
    height: 80%;
    margin: clamp(10px,20px,40px);
}

.--cenote-img {
    object-fit: contain;
}

.off-screen-menu__list-link {
    text-decoration: none;
    color: inherit;
}

.off-screen-menu__list-item {
}

.off-screen-menu__list-item:hover {
    color: #98864b;
    background-color:  var(--bg-color-light-hover);
}

.off-screen-menu__social-media {
    display: block;
    position: absolute;
    top: 80%;
    left: 8%;
}

.off-screen-menu__social-media .footer__social-media-icon {
    margin-right: 10px;
}

/*--- OFF-SCREEN-SEARCH ---*/

.off-screen-search {
    position: absolute;
    top: -100%;
    left: 0;
    background-color: var(--bg-color);
    width: 100%;
    margin: 0;
    z-index: 11;
    padding: 25px 0;
    transition: .3s ease;
}

.off-screen-search__input {
    margin-left: 20px;
    width: clamp(300px, 60%, 800px);
    padding: 10px;
    font-family: 'mukta mahee';
    border: 1px solid #acacac;
    outline: none;
}

.off-screen-search__input:focus {
    outline: 2px solid var(--outline-color);
}

body:has(.off-screen-search.active) {
    overflow-y: hidden;
}

.off-screen-search.active {
    top: 0;
    transition: .3s ease;
}

/*--- MAIN HERO ---*/

.main-hero {
    text-align: center;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100dvh;
    position: relative;
}

.main-hero h2 {
    font-family: 'mukta_mahee';
    font-weight: 400;
    letter-spacing: 4px;
    text-shadow: 0 0px 16px var(--highlight-color);
}

p {
    letter-spacing: 3px;
    font-family: 'mukta_mahee';
    font-weight: 300;
}

.main-hero__img-container {
    container-name: main-hero;
    container-type: inline-size;
    margin-bottom: 10px;
}

.main-hero__img {
    margin-top: 55px;
    max-width: 80%;
    max-height: 500px;
}

.--main-hero-buttons {
    height: initial;
}


/* --- FOOTER --- */

.footer {
    background-color: var(--bg-color-light-hover);
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    box-shadow: 0 -10px 16px #3335;
}

.footer__email-singup {
    display: flex;
    padding: 30px 0;
    font-family: 'mukta mahee';
    font-weight: 200;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.email-singup__subtitle {
    font-weight: 200;
    text-transform: uppercase;
}

.email-singup__text {
    font-size: 12px;
    color: #555;
}

.email-singup__inputs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.email-singup__input {
    padding: 8px 40px;
    border: .5px solid #000;
    font-size: 1rem;
    outline: none;
}

.email-singup__input:focus {
    outline: 2px solid var(--outline-color);
}

.email-singup__input:focus ~ .email-singup__submit {
    outline: 2px solid var(--outline-color);
}

.email-singup__input::placeholder {
    opacity: .4;
}

.email-singup__submit {
    padding: 5.3px 0;
    border: .5px solid #000;
    background-color: var(--bg-color-light-hover);
}

.email-singup__submit:hover {
    background-color: var(--bg-color);
}

.footer__desplegable {
    padding: 20px 0;
    border-top: .5px solid #98864b;
    font-family: 'mukta mahee';
    padding-left: 10px;
    user-select: none;
}

details {
    max-height: 65px;
    overflow-y: hidden;
    transition: max-height .7s ease;
}

details[open] {
    transition: max-height .5s ease;
    max-height: 300px;
}

.footer__desplegable:hover {
    background-color: var(--bg-color);
}

.footer__desplegable-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.--desplegable-chevron {
    transition: transform .2s ease;
    user-select: none;
    cursor: pointer;
}

details[open] .--desplegable-chevron {
    transform: rotate(90deg);
    transition: transform .2s ease;
}

.footer__desplegable__list {
    list-style: none;
}

.footer__desplegable__list-item {
    padding: 15px 0;
}

.footer__desplegable__list-link:hover {
    color: #98864b;
    transition: color .5s ease;
}

.footer__desplegable__list-link {
    text-decoration: none;
    color: #444;
    transition: color .5s ease;
}

.footer__subtitle {
    font-family: 'mukta mahee';
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 20px;
    display: none;
}

.footer__social-media {
    display: flex;
    column-gap: 30px;
    align-items: baseline;
}

.social-media-wrapper {
    display: flex;
    justify-content: center;
    border-top: .5px solid #98864b;
    padding-top: 20px;
}

.footer__social-media-icon {
    width: 1.75rem;
}

.footer__social-media-icon:hover {
    filter: contrast(0);
}

.copyright {
    font-family: 'mukta mahee';
    font-size: .75rem;
    background-color: #98864b42;
    padding-left: 10px;
    text-align: center;
}

/*--- MEDIA QUERIES ---*/

@media screen and (min-width: 1000px) {
    .header-and-main-hero-wrapper {
        height: 100dvh;
    }
    .hero__title-container {
        display: flex;
        justify-content: center;
    }

    .footer__subtitle {
        display: inline;
    }

    .social-media-wrapper {
        justify-content: space-between;
    }

    .main-hero {
        margin-bottom: 20dvh;
    }

    .footer__email-singup {
        font-size: larger;
    }

    .email-singup__input {
        padding: 8px 80px;
    }

}

@media screen and (min-width: 1300px) {
    .footer__email-singup {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
    }

    .email-singup__input {
        padding: 8px 80px;
    }
}

@container off-search-menu (min-width: 800px) {
    .off-screen-menu__social-media {
        display: none;
    }
}

/*--- ANIMATIONS ---*/

@keyframes text-appear {
    0% {
        left: 50dvw;
    }
    100% {
        left: 0;
    }
}